.map-div
{
	margin-top: 20px;
	height: 600px;
	width:100%;
	border-color: black;
	border-width: 2px;
	border-style: solid
}
.address {
	font-size: 9px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
}
.addressMarker {
	font-size: 9px;
	margin-top: 25px;
	margin-left: 0px;
	margin-right: 0px;
}
.foodItems{
	white-space: nowrap;
	text-overflow:ellipsis; 
	overflow-y: scroll; 
	height : 20px;
	overflow:hidden;
}


#searchresult-list-container
{
	height :  600px;
	margin-top: 20px;
	overflow-y: scroll;
	border-width: 1px;
}
.foodtruckMarker {
	max-width: 400px;
}
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}
body
{
  padding-top: 50px;
  padding-bottom: 20px;
}
.stretch {
    width:100%;
    height:100%;
}
.row{
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.foodtruck {
	color : white;
}
.foodItems{
	white-space: nowrap;
	text-overflow:ellipsis; 
	height : 20px;
	width : 30em;
	overflow:hidden;
}
.truckName, .truckName:hover {
	text-decoration:none !important;
	color: white;
}