<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><strong>Food Trucks</strong></a>
  </div>
  <div class="navbar-collapse collapse">
    <form class="navbar-form" role="form">
      <div class="form-group">
        <input type="text" id="zipcode" placeholder="Enter ZipCode or Addrss" class="form-control col-md-6" style="width:300px !important">
      </div>
      <button type="button" class="btn btn-success" id="searchFoodTrucks">Search</button>
    </form>
  </div>
</div>